body {
    background-image: url('oblock.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

header {
    text-align: center;
    font-family: 'Better Together Spaced', sans-serif;
    background-color: #f0f0f0;
    font-size: 3rem;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border: black solid px;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lewy, #prawy {
    position: absolute;
    top: 10%; 
    transform: translateY(-50%);
    background-color: white;
    width: 25%; 
    padding: 20px; 
    text-align: center;
}

#lewy {
    left: 10%; 
    border: solid green 3px;
}

#prawy {
    right: 10%;
    border: solid red 3px;
}

#leadneverfollow {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    margin-bottom: -10%;
}

#zgody, #kosy {
    font-family: 'Better Together Spaced', sans-serif;
    font-size: 3rem; 
}

#zgody {
    color: green;
    font-size: 550%; 
}

#kosy {
    color: red;
    font-size: 550%; 
}

@font-face {
    font-family: 'Better Together Spaced';
    src: url('fonty/BetterTogetherSpaced.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
