header {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#lewy, #prawy {
    width: 30%;
    text-align: center;
}

#leadneverfollow {
    width: 20%;
    margin: 0 20px;
    margin-bottom: -20%;
}
#zgody{
    color: green;
}
#kosy{
    color: red;
}